
/*.container{
   border: 1px dashed red;
}

.container-fluid{
    border: 1px dashed blue;
}*/

/*Utils*/
.bg-blue{
    background-color: #2C3E50;
}

.bg-turquoise{
    background-color: #1ABC9C;
}

.fa-star{
    font-size: 24px;
}

.star-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-line::after{
    background-color: white;
    height: 2px;
    width: 100px;
    display: inline-block;
    content: "";
    margin: 0 10px;
}

.star-line::before{
    background-color: white;
    height: 2px;
    width: 100px;
    display: inline-block;
    content: "";
    margin: 0 10px;
}


/*Spootlight*/
.img-avatar{
    max-width: 250px;
    height: auto;
}



.images{
    background-color: whitesmoke;
    height: 400px;
}

.about{
    background-color: turquoise;
    height: 400px;
}

.footer-top{
    background-color: black;
    height: 400px;
}

.footer-bottom{
    background-color: darkgray;
    height: 100px;
}

.col{
    border: 1px solid green;
}