
.container{
    border: 1px dashed red;
}

.container-fluid{
    border: 1px dashed blue;
}



header{
    background-color: darkgray;
    height: 80px;
}

.spootlight{
    background-color: turquoise;
    height: 400px;
}

.images{
    background-color: whitesmoke;
    height: 400px;
}

.about{
    background-color: turquoise;
    height: 400px;
}

.footer-top{
    background-color: black;
    height: 400px;
}

.footer-bottom{
    background-color: darkgray;
    height: 100px;
}

.col{
    border: 1px solid green;
}