
.container{
    border: 1px dashed red;
}

.container-fluid{
    border: 1px dashed blue;
}



header{
    background-color: darkgray;
    height: 80px;
}

.spootlight{
    background-color: whitesmoke;
    height: 400px;
}

.images{
    background-color:turquoise;
    height: 400px;
}

.col{
    border: 1px solid green;
}